<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.jinkings.financing" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="br.com.jinkings.soluciona.application.JinkingsSoluciona"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="roboguice.modules"
            android:value="br.com.jinkings.soluciona.infrastructure.backend.BackendModule" />

        <activity
            android:name="br.com.jinkings.soluciona.application.ui.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Login.Theme.Jinkings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.jinkings.soluciona.application.ui.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login.Theme.Jinkings" />
        <activity
            android:name="br.com.jinkings.soluciona.application.ui.activities.SignUpActivity"
            android:label="@string/title_signup_activity"
            android:parentActivityName="br.com.jinkings.soluciona.application.ui.activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name="br.com.jinkings.soluciona.application.ui.activities.HomeActivity"
            android:label="@string/title_home_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.jinkings.soluciona.application.ui.activities.NewSimulationActivity"
            android:label="@string/title_activity_new_simulation"
            android:parentActivityName="br.com.jinkings.soluciona.application.ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.jinkings.soluciona.application.ui.activities.HomeActivity" />
        </activity>
    </application>

</manifest>
