<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.jinkings.financing" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.jinkings.soluciona.application.ui.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.jinkings.soluciona.application.ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Login.Theme.Jinkings"/>
        <activity
            android:name="br.com.jinkings.soluciona.application.ui.FinancingListActivity"
            android:label="@string/title_activity_financing_list"
            android:screenOrientation="portrait"/>

        <activity android:name="br.com.jinkings.soluciona.application.ui.SignUpActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="br.com.jinkings.soluciona.application.ui.LoginActivity"/>
    </application>

</manifest>
